<figure class="avatar pure-g">
  <picture class="pure-u-1 pure-u-sm-1-3">
    <source srcset="al-the-x--704x704.png" media="(min-width: 2100px)">
    <source srcset="al-the-x--304x304.png" media="(min-wdith: 900px)">
    <source srcset="al-the-x--120x120.png" media="(max-wdith: 480px) and (orientation: landscape)">
    <img class="pure-img" src="al-the-x--304x304.png" alt="David Rogers aka &lquot;AL the X&rquot;">
  </picture>
  <figcaption class="pure-u-1 pure-u-sm-2-3">
    <h1> David Rogers <br> aka <br> <q>AL the X</q> </h1>
  </figcaption>
</figure>
