
<figure class="avatar">
  <picture>
    <source srcset="al-the-x--704x704.png" media="(min-width: 2100px)"/>
    <source srcset="al-the-x--304x304.png" media="(min-wdith: 900px)"/>
    <source srcset="al-the-x--120x120.png" media="(max-wdith: 480px) and (orientation: landscape)"/><img src="al-the-x--304x304.png" alt="David Rogers aka `AL the X`" class="pure-img"/>
  </picture>
  <figcaption>
    <h1>David Rogers
aka
<q>AL the X</q>
    </h1>
    <aside class="page--contact">{% include contact.html %}</aside>
  </figcaption>
</figure>