<aside class="page--footer--social pure-u-1-3">
  {% include social.html %}
</aside> <!-- .page-footer-social -->
<article class="page--footer--about pure-u-2-3">
  <h5>David Rogers aka <q>AL the X</q> is a <strong>freelance software
      developer</strong>, <strong>trainer and consultant</strong>,
    and dad living in <strong>Raleigh&ndash;Durham, NC</strong>.</h5>

  <small>
    {% include license.html %}
  </small>
  <footer class="page--footer--closing">
    <h6>Handcrafting the Web since 1997</h6>
  </footer>
</article>
