
<section class="contact">
  <h4>Get in touch…</h4>{% include contact.html %}<a href="https://github.com/al-the-x/ama/issues/new" rel="track external" data-event-label="contact" data-event-value="ama" class="icon-ask">Ask Me Anything!</a>
</section>
<section class="connect">
  <h4>Connect with me…</h4>  {% include social.html %}
</section>
<footer class="actions"><a href="http://al-the-x.tumblr.com" rel="track external" data-event-label="cta" data-event-value="blog" class="icon-blog">Read my thoughts…</a>
</footer>