
<section class="contact">
  <h4>Get in touch…</h4>  {% include contact.html %}<a href="https://github.com/al-the-x/ama/issues/new" rel="track external" data-event-label="contact" data-event-value="ama" class="icon-ask">Ask Me Anything!</a>
</section>
<!-- .contact-->
<section class="connect">
  <h4>Connect with me…</h4>  {% include social.html %}
</section>
<!-- .connect-->
<footer class="actions">
  <!--
  TODO: enable when `book.al-the-x.me` is ready...
  <a href="http://book.al-the-x.me/" rel="track" class="nav-book"
  data-event-label="cta"
  data-event-value="booking">Get help!</a>
  -->
  <!--
  FIXME: Use `thoughts.al-the-x.me` instead...
  <a href="http://thoughts.al-the-x.me/" rel="track" class="nav-blog"
  --><a href="http://al-the-x.tumblr.com" rel="track external" data-event-label="cta" data-event-value="blog" class="nav-blog">Read my thoughts…</a>
</footer>
<!-- .actions-->