<section class="contact">
  <h4>Get in touch&hellip;</h4>

  <a href="mailto:hello@al-the-x.me" rel="track external" class="icon-email"
    data-event-label="contact"
    data-event-value="email">hello@al-the-x.me</a>
  <a href="tel:843-345-3522" rel="track external" class="icon-phone"
    data-event-label="contact"
    data-event-value="tel">843-345-3522</a>
  <a href="https://github.com/al-the-x/ama/issues/new" rel="track external" class="icon-ask"
    data-event-label="contact"
    data-event-value="ama">Ask Me Anything!</a>
</section><!-- .contact -->

<section class="connect">
  <h4>Connect with me&hellip;</h4>

  {% include social.html %}
</section><!-- .connect -->

<footer class="actions">
  <!-- TODO: enable when `book.al-the-x.me` is ready...
    <a href="http://book.al-the-x.me/" rel="track" class="nav-book"
    data-event-label="cta"
    data-event-value="booking">Get help!</a> -->
  <!-- FIXME: Use `thoughts.al-the-x.me` instead...
  <a href="http://thoughts.al-the-x.me/" rel="track" class="nav-blog" -->
  <a href="http://al-the-x.tumblr.com" rel="track external" class="nav-blog"
    data-event-label="cta"
    data-event-value="blog">Read my thoughts&hellip;</a>
</footer><!-- .actions -->
