<a href="http://j.mp/al_the_x--twitter" rel="track external" class="icon-twitter"
  data-event-label="connect"
  data-event-value="twitter">Twitter</a>
<a href="http://j.mp/al_the_x--github" rel="track external" class="icon-github"
  data-event-label="connect"
  data-event-value="github">GitHub</a>
<a href="http://j.mp/al_the_x--linkedin" rel="track external" class="icon-linkedin"
  data-event-label="connect"
  data-event-value="linkedin">LinkedIn</a>
<a href="http://j.mp/al_the_x--stackoverflow" rel="track external" class="icon-stackoverflow"
  data-event-label="connect"
  data-event-value="stackoverflow">Stack Overflow</a>
