figure.avatar {
  img { width: 100%; }
  figcaption {
    box-sizing: border-box;
    padding-left: 1em;
    h1 {
      font-size: 2.5em;
      text-align: center;
      margin: 0;
      float: left;
    }
    q {
      font-weight: bold;
      font-size: 110%;
    }
    footer {
      clear: both;
    }
  }
}
