figure.avatar {
  img { width: 100%; }
  figcaption {
    box-sizing: border-box;
    padding-left: 1em;
    h1 {
      font-size: 7vw;
      text-align: center;
      margin: 0;
      float: left;
      @media screen and (max-width: 35em){
        font-size: 10vw;
        float: none;
      }
    }
    q {
      font-weight: bold;
      font-size: 110%;
    }
    footer {
      clear: both;
    }
  }
}
