figure.avatar {
  max-width: 900px;
  margin: 0 auto;

  img { // Responsive Images
    display: block;
    width: 100%;
    height: auto;
  }

  figcaption {
    h1 {
      color: $tan;

      text-shadow: 0.05ex 0.05ex 0 $brown;

      white-space: pre-line;

      font-size: 7vw;
      text-align: center;

      margin: 0;

      float: left;

      @include mq-sm-only {
        font-size: 12vw;
        float: none;
      }

      @include mq($min: 900px){
        font-size: 70px;
      }
    }
    q {
      color: $dark-blue;

      text-shadow: 0.05ex 0.05ex 0 $yellow;

      font-family: 'Permanent Marker';
      font-weight: bold;
      font-size: 110%;
    }
    aside {
      border-top: 0.2vw dotted $dark-blue;

      font-size: 3vw;

      @include mq-sm {
        font-size: 9vw;
      }

      @include mq($min: 900px) {
        font-size: 20pt;
      }

      > a {
        color: $dark-blue;
        text-decoration: none;
        text-align: center;
        white-space: nowrap;
      }
    }
  }
}
