.page--container {
  overflow: hidden;

  .page--header {
    background-color: #ADF;
  }

  .page--body {
    h1, h2, h3, h4, h5, h6 {
      background-color: $dark-blue; color: $yellow;

      margin: 0 -50%;
      padding: 1ex 50%;
    }
  }
} // END .page--container
