// TODO: Make the transition more fluid with `transition` / `animation`?
details, .details {
  background-color: transparentize($light-blue, 0.4);

  > {
    * { display: none; }

    summary, .summary {
      display: block;

      font-style: italic;

      &::before, &::after {
        color: $dark-blue;

        font-style: normal;
      }
      &::before {
        content: "\275D";
      }

      &::after {
        display: block;

        content: "\25BE\25BE\25BE";

        text-align: center;
      }
    }
  }

  // TODO: Select only for unsupported browsers?
  &[open] > {
    * { display: block; }

    summary, .summary { &::after {
      content: "\22EF";

      font-size: 150%;
    } }
  }
}
