.page--footer {
  background-color: $dark-blue; color: #AAA;

  font-size: 80%;

  .page--footer--social {
    text-align: center;
    color: $light-blue;
  }

  .page--footer--about {
    @include mq-sm {
      text-align: center;
    }

    h5 {
      color: $yellow;

      font-size: 150%;

      padding-bottom: 1ex;
      border-bottom: 1px dotted;
    }
  } // .page--footer--about

  a {
    color: inherit;
    &[class*="icon-"] {
      font-size: 0;

      &::before {
        font-size: 10vw;
      }
    }
  }

} // END .page--footer
