.page--footer {
  background-color: $dark-blue; color: #AAA;

  font-size: 80%;

  padding-bottom: 2ex;

  .page--footer--social {
    text-align: center;
    color: $light-blue;

    @include mq-sm {
      width: 100%;
    }
  }

  .page--footer--about {
    @include mq-sm {
      text-align: center;

      box-sizing: border-box;
      width: 100%;
      padding: 0 2em;
    }

    h5 {
      padding-bottom: 1ex;
      border-bottom: 1px dotted;
    }
  }

  .page--footer--closing h6 {
    font-family: Yesteryear;
    font-size: xx-large; color: $tan;
    text-shadow: 0.1ex 0.1ex 0 $brown;
  }

  h5 { color: $yellow; }

  a {
    color: inherit;
    &[class*="icon-"] {
      font-size: 0;

      &::before {
        font-size: 4rem;
      }
    }
  }

} // END .page--footer
