.page--footer {
  @extend .clearfix;

  background-color: $dark-blue; color: #AAA;

  font-size: 80%;

  box-sizing: border-box;
  padding: 0 1rem;

  a { color: inherit; }

  .page--footer--social {
    text-align: center;
    color: $light-blue;

    a[class*="icon-"] {
      font-size: 0;

      &::before {
        font-size: 65px;
        @include mq-sm {
          font-size: 18vw;
        }
      }
    }
  }

  .page--footer--about {
    max-width: 65em;
    margin: 0 auto;

    @include mq-sm {
      text-align: center;
    }

    h5 {
      color: $yellow;

      font-size: 150%;

      padding-bottom: 1ex;
      border-bottom: 1px dotted;
    }
  } // .page--footer--about

} // END .page--footer
