[class*="icon-"] {
  line-height: 1.5;

  &::before, &::after {
    /* TODO: Include FontAwesome fonts! */
    font-family: FontAwesome;
    font-size: 150%;

    display: inline-block;
    margin-right: 0.25em;
  }

  &[class*="only-"] {
    font-size: 0;

    &::before, &::after {
      font-size: normal;
      // relative `font-size` values don't work when parent `font-size` is 0

      text-align: center;
    }
  }

  &[class*="after-"] {
    &::after {
      margin: 0 0.25em;
    }
  }
} // END [class*="icon-"]

/**
 * @param String $name for use in classname
 * @param String $char for us in `content` property
 * @param Boolean $only to hide text in the element
 * @param Boolean $fa whether to use FontAwesome glyphs
 */
@mixin icon ($name, $char, $only:false, $fa:false, $after:false){
  $pseudo: if($after, after, before);
  $name: if($after, "after-#{$name}", $name);
  $name: if($only, "only-#{$name}", $name);

  .icon-#{$name} {
    &::#{$pseudo} {
      content: $char;

      @content;
    }
  } // END .icon-#{$name}
} // END icon

@mixin icon-fa ($name, $char, $only:false){
  @include icon($name, $char, $only, $fa:true){
    @content;
  }
}

// .icon-only-menu
@include icon-fa('menu', "\f0c9", $only:true);

@include icon-fa('email', "\f0e0");
@include icon-fa('phone', "\f095");
@include icon-fa('ask', "\f075");
@include icon-fa('twitter', "\f099");
@include icon-fa('github', "\f09b");
@include icon-fa('linkedin', "\f08c");
@include icon-fa('stackoverflow', "\f16c");

// .icon-after-next
@include icon('next', "\276f", $after:true){
  float: right;
}

