// TODO: Refactor to mixin or placeholder class?
.icon-after-next {
  line-height: 1.5em;
  &::after {
    display: inline-block;
    margin: 0 0.25em;
    font-size: 1.5em;
    content: "\276f";
    float: right;
  }
}

@mixin icon ($name, $char, $fa: false, $after: false){
  $pseudo: if($after, 'after', 'before');

  .icon-#{$name} {
    line-height: 1.5;
    @if ($fa){
      /* TODO: Include FontAwesome fonts! */
      font-family: FontAwesome;
    }

    &::#{$pseudo} {
      content: $char;

      display: inline-block;
      margin-right: 0.25em;
      font-size: 150%;

      @content;
    }
  } // END .icon-#{$name}
} // END icon

@mixin icon-fa ($name, $char, $after:false){
  @include icon($name, $char, $after:$after, $fa:true);
}

@include icon-fa('email', "\f0e0");
@include icon-fa('phone', "\f095");
@include icon-fa('ask', "\f075");
@include icon-fa('twitter', "\f099");
@include icon-fa('github', "\f09b");
@include icon-fa('linkedin', "\f08c");
@include icon-fa('stackoverflow', "\f16c");

