$dark-blue:  #333366 !global;
$light-blue: #5555AA !global;
$yellow:     #EECC00 !global;
$tan:        #BB8855 !global;
$brown:      #664433 !global;

$bg-color: #DEF !global;
$fg-color: #333 !global;
