$slideout-trigger-fgcolor: lightgrey;
$slideout-trigger-bgcolor: gray;
$slideout-trigger-alpha: 0.2;

#panel {
  // TODO: Refactor to mixin or placeholder class?
  .icon-only-menu {
    position: absolute;
    top: 0.5rem; right: 0.5rem;

    text-decoration: none;
    color: $slideout-trigger-fgcolor;

    font-size: 0;

    &::before {
      display: inline-block;
      text-align: center;

      font-family: FontAwesome;
      font-size: xx-large;
      content: "\f0c9";

      @include mq-sm {
        font-size: 12vw;
        width: 15vw; line-height: 15vw;
        background-color: transparentize(
          $slideout-trigger-bgcolor, $slideout-trigger-alpha
        );
        border-radius: 0.2ex;
      }
    }
  }

} // END #panel


#menu {
  background-color: $tan; color: $brown;
  box-shadow: inset 5px 0px 20px -8px black;

  > section::after {
    display: block;
    text-align: center;

    font-size: 3ex; line-height: 2ex;
    border-top: 1px dotted;
    margin: 0.5ex 0 1ex;

    content: "\2766";
  }

  h4, a {
    padding-left: 1rem;
    margin-bottom: 0;
  }

  h4 {
    background-color: $brown; color: $tan;

    font-family: 'Yesteryear';
    font-weight: 400;
    font-size: 200%;

    margin-top: 0; padding-top: 1ex;

    box-shadow: 0px 5px 20px -8px black;
  }

  a {
    color: inherit;

    display: block;
    padding: {
      top: 1ex;
      bottom: 1ex;
    }

    &:link, &:visited { }
    &:hover, &:active {
      background-color: $brown; color: $tan;
    }
  }

  footer {
    background: $brown; color: $tan;

    position: fixed;
    bottom: 0; width: inherit;

  }

  // Back to parent: `#menu`...
  padding-bottom: 10ex; // ...to account for `footer`

  // TODO: Refactor to mixin or placeholder class?
  .icon-after-next {
    line-height: 1.5em;
    &::before {
      display: inline-block;
      margin: 0 0.25em;
      font-size: 1.5em;
      content: "\276f";
      float: right;
    }
  }

}

// TODO: Replace with `index.css` from `Mango/slideout.js`...
body {
  background-color: #FFF;
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  left: auto;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  background-color: inherit;
  position:relative;
  z-index: 1;
  min-height: 100vh; // FIXME: Better fallback for IE8 et al?

  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

