#panel {
  // TODO: Refactor to mixin or placeholder class?
  .icon-only-menu {
    position: absolute;
    top: 1vw; right: 1vw;

    text-decoration: none;
    color: $brown;

    font-size: 0;

    &::before {
      font-size: xx-large;
      content: "\2630";
    }
  }

}

#menu {
  background-color: $tan; color: $brown;

  }

  // TODO: Refactor to mixin or placeholder class?
  .icon-after-next {
    line-height: 1.5em;
    &::before {
      display: inline-block;
      margin: 0 0.25em;
      font-size: 1.5em;
      content: "\276f";
      float: right;
    }
  }

}

// TODO: Replace with `index.css` from `Mango/slideout.js`...
body {
  background-color: #FFF;
  width: 100%;
  height: 100%;
}

.slideout-menu {
  position: fixed;
  left: auto;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  background-color: inherit;
  position:relative;
  z-index: 1;
  min-height: 100vh; // FIXME: Better fallback for IE8 et al?

  will-change: transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

