a.icon-email(href="mailto:hello@al-the-x.me", rel="track external",
    data-event-label="contact",
    data-event-value="email"
  ) hello@al-the-x.me
='\n'
a.icon-phone(href="tel:843-345-3522", rel="track external",
    data-event-label="contact",
    data-event-value="tel"
  ) 843-345-3522
