aside.page--footer--social {% include social.html %}

article.page--footer--about
  :markdown-it(html)
    ##### David Rogers aka <q>AL the X</q> is a **freelance software developer**, **trainer**, **consultant**, and dad living in **Raleigh–Durham, NC**.

  small {% include license.html %}
