section.contact
  h4 Get in touch…
  |   {% include contact.html %}
  a.icon-ask(href="https://github.com/al-the-x/ama/issues/new", rel="track external", data-event-label="contact", data-event-value="ama") Ask Me Anything!
// .contact
section.connect
  h4 Connect with me…
  |   {% include social.html %}
// .connect
footer.actions
  //
    TODO: enable when `book.al-the-x.me` is ready...
    <a href="http://book.al-the-x.me/" rel="track" class="nav-book"
    data-event-label="cta"
    data-event-value="booking">Get help!</a>
  //
    FIXME: Use `thoughts.al-the-x.me` instead...
    <a href="http://thoughts.al-the-x.me/" rel="track" class="nav-blog"
  a.nav-blog(href="http://al-the-x.tumblr.com", rel="track external", data-event-label="cta", data-event-value="blog") Read my thoughts…
// .actions
